#loginDiv { padding-top: 5%；
}
#ServerPort {
	margin-left: 0;
	width: 45px;
}
.showBox {
	width:128px;
	padding:0;
	line-height:35px;
}
#askSelect { margin-right:3px;}
.wordage { margin-top: 8px;}
.last {
	padding-top:20px;
	padding-bottom:20px;
	background:#fff;
	position:absolute;
	bottom:-15px;}
.last a.btn { padding:10px 35px; }
.queue-item-layout-btn a.btn {
	width:80px;
}