#loginDiv{
	width:1366px;
	height:668px;
}

ol li {
	font-size: 12px;
	color: gray;
}

#page_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:57px;
	height:16px;
	background:url("./../img/page_01.jpg");
}

#page_02 {
	position:absolute;
	left:57px;
	top:0px;
	width:1252px;
	height:16px;
	background:url("./../img/page_02.jpg");
}

#page_03 {
	position:absolute;
	left:1309px;
	top:0px;
	width:57px;
	height:16px;
	background:url("./../img/page_03.jpg");
}

#page_04 {
	position:absolute;
	left:0px;
	top:16px;
	width:57px;
	height:635px;
	background:url("./../img/page_04.jpg");
}

#page_05 {
	position:absolute;
	left:57px;
	top:16px;
	width:1252px;
	height:557px;
	background:url("./../img/page_05.jpg");
}

#page_06 {
	position:absolute;
	left:1309px;
	top:16px;
	width:57px;
	height:635px;
	background:url("./../img/page_06.jpg");
}

#page_07 {
	position:absolute;
	left:57px;
	top:573px;
	width:1252px;
	height:78px;
	background:url("./../img/page_07.jpg");
}

#page_08 {
	position:absolute;
	left:0px;
	top:651px;
	width:57px;
	height:16px;
	background:url("./../img/page_08.jpg");
}

#page_09 {
	position:absolute;
	left:57px;
	top:651px;
	width:1252px;
	height:16px;
	background:url("./../img/page_09.jpg");
}

#page_10 {
	position:absolute;
	left:1309px;
	top:651px;
	width:57px;
	height:16px;
	background:url("./../img/page_10.jpg");
}

.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 25px;
}

#mainer {
	width: 80%;
	height: 100%;
}

#mainer .contentR {
	height: 300px;
	width: 42%;
	padding-top: 150px;
}

#mainer .contentR p {
	padding-top: 7px;
	padding-bottom: 7px;
}

#mainer .contentR table {
	background: url("./../img/divByLogin.png") no-repeat -5px -5px;
    height: 270px;
    width: 450px;
	padding:0 10px;
}

#askSelect,#dwPrioritySelect {
	width: 60px;
	height: 30px;
}

#login_div {
    background-color: #fafadd;
    border: 1px solid black;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

#cutoff_div {
    border-bottom: 1px solid black;
    height: 5px;
    margin: 0 5px;
}

.wordage {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 280px;
}

.Btn {
    background-color: #e6e6e6;
    border: 1px solid black;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 10px 20px 20px;
    text-align: center;
    width: 80px;
	border-radius: 5px;
}

#Btn_div {
    height: 55px;
    width: 320px;
}

#setting_div {
    display: none;
    height: 55px;
    width: 320px;
}


#setting_div_input {
    border-top: 1px solid black;
    font-size: 13px;
    padding-top: 18px;
    text-align: center;
}

#username{
	border: 1px solid #cccccc;
	color: #919191;
	height: 35px;
	line-height: 35px;
	padding: 5px;
	width: 200px;
}

#username:focus {
	border: 1px solid #cbdce4;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
}

/*anychat日志*/
#LOG_DIV_BODY {
    bottom: 0;
    display: none;
    height: 200px;
    position: fixed;
    right: 20px;
    width: 350px;
    z-index: 40;
}

#LOG_DIV_TITLE {
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
    text-align: right;
}

#LOG_DIV_CONTENT {
    font-size: 12px;
    height: 155px;
    padding: 10px;
    text-align: right;
    width: 350px;
	overflow-y: auto;
}

#LOG_DIV_CONTENT:hover{
	background-color: #fafadd;
	border:1px solid black;
}

#loginRoom {
	background-color: #69C526;
	text-align: center;
	display: block;
	margin-left: 14px;
	float:left;
}

.Btn:hover {
	background-color: #A4D876;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .65);
}