* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei" ! important;
}

body {
	background-image: url("./../img/bg.png");
	background-size: 100%;
}

/*callLayer*/
#callLayer {
	display: none;
	border-radius: 5px;
	width: 600px;
	height: 280px;
	line-height: 50px;
	box-shadow: 0 0 5px black;
	background: #fff;
}

#callLayer h4 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	padding-left: 25px;
	text-align: left;
	background-color: #00cae5;
	height:45px;
}
#queueMsg1 {
	background: url("../img/15.png") no-repeat;
    margin-left: 110px;
    padding-left: 60px;
    text-align: center;
}
strong {
	color: #ee5e0f;
}

#queueMsg2 {
	display: none;
	background: url("../img/14.png") no-repeat;
    padding-left: 40px;
    width: 360px;
}
#takeUp {
	background-color: #4baf4f;
}
#takeUp:hover { background-color: #349638;}
#queueMsg2 .confirmMsg {
	padding: 8px 25px;
	border: 0;
	margin-left: 40px;
	color: #fff;
	border-radius: 3px;
	margin: 40px 20px 40px 10px;
}
#reject {
	background: #fd5621;
}
#reject:hover {
	background: #db4819;
}
#queueMsg1 .confirmMsg {
	background-color: #fd5621;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    margin-left: 90px;
    margin-top: 10px;
    padding: 8px 10px;
}
.confirmMsg:hover { background: #db4819;}

/* 视频层样式 */
#VideoShowDiv {
	display:none;
    background-image: url("../img/dialog/03.png");
    height: 455px;
    width: 1020px;
    z-index: 40;
    position: relative;
}

.videoshow0 {
	background: url("../img/reUser.jpg");
    height: 355px;
    left: 21px;
    position: absolute;
    top: 15px;
    width: 480px;
}

.videoshow1 {
	background: url("../img/reUser.jpg") !important;
    height: 355px;
    position: absolute;
    right: 23px;
    top: 15px;
    width: 480px;
}

.ShowName {
    color: White;
    font-family: 微软雅黑;
    font-size: 22px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 376px;
    width: 480px;
}

#hangUp {
    background: url("../img/dialog/btnfalse_move.png");
}

.Buttons {
    background: url("../img/dialog/btntrue_move.png");
    color: White;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 25px auto -15px;
    text-align: center;
    width: 120px;
}

#hangUp:hover, .Buttons:hover {
    background: url("../img/dialog/btnfalse_over.png");
    color: black;
}

#SessionPrompt_Div {
	position:relative;
	z-index:9999;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
	background-color: #666666;
	border:1px solid white;
	display: none;
	line-height: 50px;
	position: absolute;
	text-align: center;
	width: 200px;
	color: white;
}