<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anychatfeatures"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <application
        android:name="com.example.common.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/titlestyle" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anychatfeatures.FuncMenu"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anychatfeatures.RolesListActivity"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.ChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.AlphaChannel"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.FileTransfer"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.FileExplorer"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.LocalVideoRecord"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.ServerVideoRecord"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.VideoConfig"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.SingleSelfVideo"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.SenderTrace"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funcActivity.ReceiverTrace"
            android:configChanges="orientation|keyboardHidden|navigation" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>