body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background: #fafafa;
	color: #222;
	min-width: 990px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	overflow: hidden;
}

div {
	margin: 0 auto;
}

.wordage {
	font-size: 15px;
	width: 320px;
	height: 40px;
	line-height: 40px;
}

input {
	width: 200px;
	height: 30px;
}

#div_body {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #E8E8E8;
}

#banner {
	width: 100%;
	height: 70px;
}

#mainer {
	width: 980px;
	height: 300px;
}

#login_div {
	display: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	width: 500px;
	height: 290px;
	background: #F1F5FB;
	position: relative;
	border: 5px solid rgb(179, 179, 179);
}

#login_div_child {
	margin: 24px 70px;
}

#login_title {
	height: 35px;
	line-height: 35px;
	text-align: left;
	margin: 10px 5px 0px;
	text-align: center;
	font-size: 25px;
}

#cutoff_div {
	height: 5px;
	border-bottom: 1px solid black;
	margin: 5px;
}

.wordage {
	font-size: 15px;
	width: 320px;
	height: 40px;
	line-height: 40px;
}

#startEnjoy {
	background-color: #7CAF00;
	margin: 10px 85px;
	padding: 10 60;
	cursor: pointer;
	border-radius: 15px;
}

#tip {
	display: none;
	background: white;
	width: 200;
	height: 400;
	text-align: center;
	padding-top: 30px;
}

#personVideo {
	position: relative;
	width: 600;
	height: 520px;
	background: #e8e8e8;
	display: none;
	box-shadow: 0 0 8px rgb(0, 0, 0);
	filter: Alpha(opacity =         80);
}

/*视频显示*/
#AnyChatLocalVideoDiv {
	top: 0;
	left: 0;
	width: 600;
	height: 450;
	background: #C4CEDD;
	text-align: center;
	position: relative;
}

/*文件传输*/
#AnyChatFileTransDiv {
	top: 0;
	left: 0;
	width: 600;
	height: 450;
	background: #C4CEDD;
	text-align: center;
	position: relative;
}

#videotag {
	width: 600;
	height: 450;
	display: none;
}

#recordtime {
	margin-top: -40px;
	margin-right: 20px;
	display: block;
	height: 30px;
	color: red;
	width: 200px;
}

#record_ready {
	display: none;
	cursor: pointer;
	margin-top: 5;
	width: 50px;
	height: 50px;
	margin-left: 280px;
}

/*控制栏*/
#videobg {
	background: #383836;
	width: 600;
	height: 60px;
	padding-top: 10px;
}

.video_btn {
	float: left;
	background: url('../img/video_btn.png') no-repeat 0 0;
	width: 143px;
	text-align: center;
	height: 43px;
	line-height: 43px;
	color: #adabab;
	position: relative;
	top: 3px;
	cursor: pointer;
}

#backRecord {
	margin-left: 45px;
	display: none;
}

#Recordplay,#next {
	margin-left: 35px;
	display: none;
}

#upload,#return,#uploadCancel {
	margin-left: 226px;
	display: none;
}

#reScreenShot {
	display: none;
	float: left;
	margin-left: 50px;
}

#enterRecord {
	display: none;
	float: right;
	margin-right: 50px;
}

#ScreenShot {
	display: block;
	margin-left: 226px;
}

#uScreenShot {
	display: none;
	height: 450;
	width: 600;
}

/* regist page start */
#regist-process {
	display: none;
	position: relative;
	font-size: 14px;
	color: #999;
	height: 70px;
}

#regist-process-bar {
	height: 52px;
	background: url('../img/regist-process.png') no-repeat;
}

#regist-process-step1 {
	position: absolute;
	top: 50px;
	left: 133px;
}

#regist-process-step2 {
	position: absolute;
	top: 50px;
	left: 348px;
}

#regist-process-step3 {
	position: absolute;
	top: 50px;
	left: 564px;
}

#regist-process-step4 {
	position: absolute;
	top: 50px;
	left: 758px;
}

.step2 #regist-process-bar {
	background-position: 0 -52px;
}

.step3 #regist-process-bar {
	background-position: 0 -99px;
}

.step4 #regist-process-bar {
	background-position: 0 -150px;
}

.step1 #regist-process-step1,.step2 #regist-process-step2,.step3 #regist-process-step3,.step4 #regist-process-step4
	{
	color: #626262;
}

#video_shadow {
	background: url('../img/video_shadowbg.png') repeat;
	padding-top: 86;
	padding-bottom: 64;
	padding-left: 50;
	padding-right: 50;
	display: none;
}

#recordmsg {
	z-index: 99999;
	padding: 40 100;
	position: absolute;
	left: 145;
	top: 180;
	color: white;
	background: #001F3C;
	font-size: 18px;
	font-weight: bold;
	display: none;
	border: 2px solid #C0C0C0;
}

#rateOfProgress {
	position: absolute;
	width: 10px;
	height: 8px;
	background: url('../img/green.jpg');
	border-radius: 25px;
	border: 2px solid #e8e8e8;
}

#rateOfProgress2 {
	position: absolute;
	width: 10px;
	height: 8px;
	background: url('../img/green.jpg');
	border-radius: 25px;
	border: 2px solid #e8e8e8;
}

#LOADING_GREY_DIV {
	display: none;
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
	filter: Alpha(opacity =             40);
	width: 100%;
	height: 100%;
	background-color: #999999;
	position: absolute;
	z-index: 44;
}

#LOADING_DIV {
	position: absolute;
	display: none;
	z-index: 45;
}

#prompt_div {
	background-color: White;
	border: 1px solid black;
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: none;
}

.close_div {
	height: 45px;
	width: 480px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #CCCCCC;
}

#prompt_div_BR {
	border-top: 1px solid #CCCCCC;
	height: 45px;
	margin: 40px 10px 10px 10px;
	width: 480px;
	text-align: right;
}

#prompt_div_BR a {
	font-size: 12px;
	color: Blue;
}

#prompt_div_btn_load {
	width: 110px;
	height: 35px;
	line-height: 35px;
	color: White;
	border: 1px solid #915700;
	background-color: #ff8100;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#prompt_div_line1 {
	height: 70px;
	line-height: 70px;
	font-size: 12px;
	color: #999999;
	padding:0px 100px;
}

#prompt_div_line2 {
	height: 60px;
	line-height: 50px;
	color: #FF9900;
	font-size: 14px;
	font-weight: bolder;
}

#prompt_div_headline1 {
	font-size: 15px;
	width: 100px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	float: left;
}

#prompt_div_headline2 {
	font-size: 12px;
	width: 38px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	float: right;
	cursor: pointer;
}

#AnyChatLocalVideoDiv {
	background: url('../img/AnyChatbg.jpg') no-repeat;
}

#recordTip1 {
	background: url('../img/waitbk.jpg') no-repeat;
	padding: 206px 0px;
	border: 2px solid black;
	display: none;
}

#recordTip1 b {
	color: green;
	font-size: 25px;
}

#tip p {
	font-size: 12px;
	text-align: left;
	margin-left: 30px;
}

#video_shadow table {
	width: 480;
	height: 300;
}

#loginTip {
	width: 200px;
	margin-right: 0px;
	margin-top: -300px;
	display: none;
}

#loginTip p {
	text-align: left;
	font-size: 15px;
}

#advanceset_iframe {
	display：none;
	background-color: transparent;
	position: absolute;
	z-index: 9999;
	width: 312;
	height: 108;
	top: 180;
	left: 145;
}

#username,#ServerAddr,#ServerPort{
	padding:5px;
}