<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anychatqueue" 
    android:versionCode="1"
    android:versionName="Anychat Queue 1.0">

    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="12" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.bairuitech.common.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/titlestyle" >
        <activity
            android:name="com.bairuitech.main.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/app_name"
             android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bairuitech.main.FuncMenuActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/title_activity_func_menu"
             android:screenOrientation="portrait" >
        </activity>
    
        <activity
            android:name="com.bairuitech.main.QueueActivity"
            android:configChanges="orientation|keyboardHidden|navigation" 
             android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.bairuitech.main.VideoActivity"
            android:configChanges="orientation|keyboardHidden|navigation" >
        </activity>
     
        <activity
            android:name="com.bairuitech.main.AgentServiceActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/title_activity_video_server"
             android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bairuitech.main.YeWuActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/title_activity_video_server"
             android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>