<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>videosolution</key>
	<dict>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Title</key>
		<string>视频分辨率</string>
		<key>Key</key>
		<string>videosolution</string>
		<key>Titles</key>
		<array>
			<string>1280x720</string>
			<string>640x480</string>
			<string>480x360</string>
			<string>352x288</string>
			<string>192x144</string>
		</array>
		<key>Values</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<key>DefaultValue</key>
		<integer>3</integer>
	</dict>
	<key>videobitrate</key>
	<dict>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Title</key>
		<string>视频码率</string>
		<key>Key</key>
		<string>videobitrate</string>
		<key>Titles</key>
		<array>
			<string>质量优先模式</string>
			<string>60kbps</string>
			<string>120kbps</string>
			<string>180kbps</string>
			<string>240kbps</string>
			<string>300kbps</string>
			<string>400kbps</string>
			<string>500kbps</string>
			<string>800kbps</string>
			<string>1Mbps</string>
		</array>
		<key>Values</key>
		<array>
			<integer>0</integer>
			<integer>60000</integer>
			<integer>120000</integer>
			<integer>180000</integer>
			<integer>240000</integer>
			<integer>300000</integer>
			<integer>400000</integer>
			<integer>500000</integer>
			<integer>800000</integer>
			<integer>1000000</integer>
		</array>
		<key>DefaultValue</key>
		<integer>180000</integer>
	</dict>
	<key>videoframerate</key>
	<dict>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Title</key>
		<string>视频帧率</string>
		<key>Key</key>
		<string>videoframerate</string>
		<key>DefaultValue</key>
		<integer>12</integer>
		<key>Titles</key>
		<array>
			<string>4 fps</string>
			<string>8 fps</string>
			<string>12fps</string>
			<string>16fps</string>
			<string>20fps</string>
			<string>25fps</string>
		</array>
		<key>Values</key>
		<array>
			<integer>4</integer>
			<integer>8</integer>
			<integer>12</integer>
			<integer>16</integer>
			<integer>20</integer>
			<integer>25</integer>
		</array>
	</dict>
	<key>videopreset</key>
	<dict>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Title</key>
		<string>预设参数</string>
		<key>Key</key>
		<string>videopreset</string>
		<key>DefaultValue</key>
		<integer>2</integer>
		<key>Titles</key>
		<array>
			<string>效率优先</string>
			<string>性能均衡</string>
			<string>质量优先</string>
		</array>
		<key>Values</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>videoquality</key>
	<dict>
		<key>Type</key>
		<string>PSMultiValueSpecifier</string>
		<key>Title</key>
		<string>视频质量</string>
		<key>Key</key>
		<string>videoquality</string>
		<key>DefaultValue</key>
		<integer>3</integer>
		<key>Titles</key>
		<array>
			<string>普通</string>
			<string>中等</string>
			<string>较好</string>
		</array>
		<key>Values</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</dict>
</dict>
</plist>
