body 
{
    margin:0;
    padding:0;
    background:#66ccff;
}

#div_expression
{
    width:400px;
    height:270px;
    background:#ffffff;
    border:solid 1px #696969;
    z-index:55;
}

#div_expression div.header
{
    height:40px;
    background:#fafafa;
    border-bottom:solid 1px #d8d8d8;
}

#div_expression div div.top
{
    height:10px;
}
#div_expression div div.main
{
    height:20px;
}

#div_expression div div div
{
    float:left;
}

#div_expression div div div.left
{
    width:22px;
    height:30px;
    border-bottom:solid 1px #d8d8d8;
}
#div_expression div div div.font
{
    padding:5px 0 0 10px;
    width:75px;
    height:25px;
    border-right:solid 1px #d8d8d8;
    border-left:solid 1px #d8d8d8;
    border-top:solid 1px #d8d8d8;
    background:#ffffff;
    font-family:微软雅黑;
    font-size:14px;
}
#div_expression div div div.font:hover
{
    cursor:pointer;
}
#btn_expressionclose
{
    display:block;
    float:right;
    margin:0 10px 0 0;
    cursor:pointer;
}
#btn_expressionclose:hover
{
    cursor:pointer;
}
#div_expression div.headertomaingap
{
    height:5px;
}
.expressionitems
{
    margin:auto auto;
    width:375px;
    height:155px;
    margin-left:10px;
}
.expressionitems img
{
    display:block;
    padding:3px;
    float:left;
    width:24px;
    height:24px;
}
.expressionitems img:hover
{
    cursor:pointer;
    background:#fafafa;
}
.expressionitems img.top
{
    border-top:solid 1px #e3e3e3;
    border-right:solid 1px #e3e3e3;
    border-bottom:solid 1px #e3e3e3;
	cursor:pointer;
}
.expressionitems img.left
{
    border-left:solid 1px #e3e3e3;
    border-right:solid 1px #e3e3e3;
    border-bottom:solid 1px #e3e3e3;
	cursor:pointer;
}
.expressionitems img.bottom
{
    border-right:solid 1px #e3e3e3;
    border-bottom:solid 1px #e3e3e3;
	cursor:pointer;
}

#div_expression div.maintobottomgap
{
    height:20px;
}
#div_expression div.bottom
{
    width:375px;
}
#div_expression div div.expressiontab
{
    padding:3px 0 0 10px;
    width:35px;
    height:19px;
    float:left;
    background:#dbdbdb;
    font-family:微软雅黑;
    font-size:12px;
}
#div_expression div div.expressiontab
{
    cursor:pointer;
}

#div_expression div div.expressionpage
{
    margin:0 5px 0 0;
    padding:0px 0 0 10px;
    width:22px;
    height:22px;
    float:right;
    background:#f2f2f2;
    font-family:微软雅黑;
    font-size:14px;
    border:solid 1px #c7c7c7;
}
#div_expression div div.expressionpage
{
    cursor:pointer;
}
