#BodyDIV
{
	display:none; 
	text-align:center; 
	height:280px; 
	font-family:ו; 
	font-size:13px;
}
#Login_Div
{
	width:500px; 
	height:280px; 
	margin-left:auto; 
	margin-right:auto;
}
#Login_Div_Logo
{
	width:155px; 
	height:50px; 
	background:url('../images/login/LOGO.png') no-repeat; 
	float:left; 
	margin-left:10px; 
	margin-top:115px;
}
#Login_Div_Bounds
{
	width:3px; 
	height:280px; 
	background:url('../images/login/LonginFG.png') no-repeat; 
	float:left; 
	margin-left:10px;
}
#Login_Div_RightSide
{
	width:312px; 
	height:280px; 
	float:left; 
	margin-left:10px;
}
#Login_Div_Title
{
	width:310px; 
	height:80px; 
	border-bottom:2px solid #ACA899;
}
#Login_Div_Title_Key
{
	float:left; 
	width:16px; 
	height:31px; 
	margin:45px 0px 0px 10px;
}
#Login_Div_Title_Mark
{
	float:left; 
	width:50px; 
	height:31px; 
	margin:45px 0px 0px 0px; 
	line-height:31px;
}
#mUser_Info_Div
{
	width:310px; 
	height:70px;
}
#mUser_Info_Div_UserName
{
	width:310px; 
	margin:20px 0px 10px 0px;
}
#mUser_Info_Div_PassWord
{
	width:310px;
}
#txtUserName
{
	width:150px;
}
#txtPassWord
{
	width:150px;
}
#Login_Div_Btn
{
	width:310px; 
	margin-top:10px;
}
#mAdvanceSetting
{
	width:80px; 
	height:30px; 
	float:left; 
	margin-left:50px; 
	line-height:30px; 
	cursor:pointer; 
	color:#66CCFF;
}
#mLoginBtn
{
	width:80px; 
	height:30px; 
	float:left; 
	margin-left:20px; 
	background:url('../images/others/Button1.png') no-repeat; 
	line-height:30px; 
	cursor:pointer;
}
#mServer_Info_Div
{
	width:310px; 
	height:70px; 
	display:none;
}
#mServer_Info_Div_ServerAddr
{
	width:310px; 
	margin:20px 0px 10px 0px;
}
#mServer_Info_Div_ServerPort
{
	width:310px;
}
#mSaveBtn
{
	margin:10px 0px 0px 150px; 
	width:80px; 
	height:30px; 
	background:url('../images/others/Button1.png') no-repeat; 
	line-height:30px; 
	cursor:pointer;
}
#prompt_box_div
{
	margin-top:40px; 
	width:310px; 
	height:20px;
}
.wordage{
	margin: 10px 0px;
}
#mServer_Info_Div_AppId
{
	width:310px;
	margin: 10px 0px 10px 0px;	
}