body
{
	margin: 0 0;
	height: 100%;
	background-color: #FFFFFF;
}
#BackG
{
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: none;
	background-color:#58a8c9;
	
}
#Shade_Div
{
	top: 0px;
	left: 0px;
	background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
	filter: alpha(opacity=30);
	position: absolute;
	background-color: #000000;
	z-index: 21;
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	display: none;
}
#Logo_Picture
{
	position:absolute; 
	width:157px; 
	height:52px; 
	top:10px; 
	right:20px; 
	z-index:8;
}
.DoFor
{
	width:80px;
	height:30px;
	cursor:pointer;
}
.Table1
{
	width:100%; 
	height:100%;
}
.ManyTD
{
	text-align:right;
}
.ButtonImg
{
	height: 30px; 
	width:80px; 
	background: url('../images/others/Button1.png'); 
	text-align:center; 
	line-height:30px; 
	cursor:pointer;
	color:#000000;
	font-family:΢���ź�;
	font-size:13px;
	float:left;
	margin-left:40px;
}
#LoadTab
{
	width:100%;
	height:170px;
}
#InquityEnd
{
	z-index:25;
	position:absolute;
	width:300px;
	height:170px;
	background: url('../images/hall/PrivateChat.png');
	display:none;
}
#Calling
{
	text-align:center;
	font-family:΢���ź�;
	font-size:13px;
}
#VersionDiv
{
	width:300px;
	height:20px;
	position:absolute;
	font-family:΢���ź�;
	font-size:13px;
	display:none;
	z-index:999;
	left:10px;
	color:White;
}
#GoToAnyChat
{
	text-decoration: underline;
	cursor:pointer
}
#LoginHead
{
	width:100%;
	height:190px;
	background: url('../images/others/MainHead.png');
}
#Initiative_Call_Div
{
	z-index:25;
	width:300px;
	height:170px;
	position:absolute;
	background: url('../images/hall/PrivateChat.png');
	display:none;
}
#Initiative_Cancel_Button
{
	cursor:pointer; 
	background:url('../images/others/CancelBtn.png'); 
	width:80px; 
	height:30px;
	line-height:30px;
	font-family:΢���ź�;
	font-size:13px;
	margin-left:auto;
	margin-right:auto;
}
#BeCalls_Div
{
	z-index:25;
	position:absolute;
	width:300px;
	height:170px;
	background: url('../images/hall/PrivateChat.png');
	display:none;
}
.Div_HeadPart
{
	width:285px; 
	height:40px; 
	margin:10px 10px 0px 5px;
}
.Div_HeadPart img
{
	cursor:pointer; 
	margin:10px 0px 0px 250px
}
.Call_Div_Content
{
	text-align:center;	
	width:285px; 
	height:70px; 
	margin:0px 10px 0px 5px;
	font-family:΢���ź�;
	font-size:13px;

}
.Call_Div_Button
{
	width:285px; 
	height:30px; 
	margin:0px 10px 0px 5px;
}