<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloAnyChatSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE4CBF9F1BE4A56F00693F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4CBFB31BE4A56F00693F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4CBFBE1BE4A56F00693F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
