#DialogueDiv_MainDiv
{
	background: url('../images/Dialog/DHK_03.png');
	width:896px;
	height:610px;
	margin:0 auto;
}
#DialogueDiv
{
	display:none;
	z-index:22;
	top:50px;
	position:absolute;
	overflow:hidden;
	width:100%;
	height:625px;
	text-align:center;
}
#DialogueDiv_HeadPart
{
	width:850px; 
	height:123px; 
	margin:20px 20px 0px 20px;
}
#mTargetPhoto
{
	width:65px; 
	height:65px;  
	margin:44px 0px 0px 29px; 
	float:left;
}
#mTargetInfo
{
	padding-top:20px;
	text-align:left;
	font-size:12px;
	font-family:Î¢ÈíÑÅºÚ;
	width:150px; 
	height:50px; 
	margin:44px 0px 0px 10px; 
	float:left;
}
#Finish_Private_Button
{
	width:65px; 
	height:65px; 
	float:right;
}
#Finish_Private_Button img
{
	cursor:pointer; 
	margin:43px 10px 10px 10px;
}
#DialogueDiv_BodyDiv
{
	width:850px; 
	height:475px; 
	margin:0px 20px 0px 20px;
}
#BodyDiv_LeftSide
{
	width:407px; 
	height:460px; 
	margin:5px 10px 0px 25px; 
	float:left;
}
#ReceiveMsg
{
	width:407px; 
	height:280px;
	margin-left:2px;
}
#SendMsg
{
	margin-top:10px;
	text-align:left; 
	margin-left:3px; 
	cursor:text; 
	width:402px; 
	height:92px;
	word-break:break-all;
}
#LeftSide_MiddleButton
{
	width:397px; 
	height:30px; 
	margin:0px 0px 5px 0px; 
	background-color:#BAD5E6; 
	text-align:left; 
	padding-left:10px;
	margin-top:10px;
}
#LeftSide_UnderButton
{
	width:407px; 
	height:40px;
}
#Swapping_Button
{
	float:left; 
	width:100px; 
	margin-top:12px; 
	margin-left:200px;
}
#Send_Button
{
	float:left; 
	width:100px; 
	margin-top:12px;
}
#DialogueDiv_RightSide
{
	float:left; 
	height:465px; 
	width:380px;
}
#Video_Show_Target
{
	width:360px; 
	height:270px; 
	margin:10px 10px 0px 10px;
}
#Target_Volume
{
	float:right;
	width:0px; 
	height:5px; 
	margin:0px 10px 0px 10px; 
	background-color:#00FF00;
}
#RightSide_MiddleButton
{
	width:360px; 
	height:40px; 
	margin:5px 10px 0px 10px;
}
#RightSide_MiddleButton a{ float:left;}
#RightSide_MiddleButton img{ float:right; cursor:pointer; margin-right:10px;}
#RightSide_MineVideoDiv
{
	width:360px; 
	height:100px; 
	margin:0px 10px 0px 10px;
}
#RightSide_VolumeControl
{
	height:100px; 
	width:228px; 
	float:left;
}
#Video_Show_MySelf
{
	height:100px; 
	width:132px; 
	float:right;
}
#Mine_Volume
{
	width:0px; 
	height:5px; 
	margin:0px 10px 0px 10px; 
	background-color:#00FF00; 
	float:right;
}
#RightSide_UnderButton
{
	width:132px; 
	height:20px; 
	text-align:right; 
	margin:5px 0px 0px 235px;
}
#RightSide_UnderButton a{ float:left;}
#RightSide_UnderButton img{ float:right; cursor:pointer;}
#VideoShowDiv
{
	 width:1020px; 
	 height:450px; 
	 position:absolute; 
	 display:none; 
	 z-index:200;
	 background-image:url('../images/dialog/03.png');
}
#fontfamily
{
	width:100px; 
	margin-top:5px;
}
#fontsize
{
	width:50px; 
	margin-top:5px;
}
.ColorImg
{
	vertical-align:middle;
	cursor:pointer;
}
.video_prompt_a
{
	font-size:12px;
	margin-right:50px;
}
#finishprivate
{
	width:120px; 
	height:50px; 
	font-family:Î¢ÈíÑÅºÚ; 
	font-size:12px;
	cursor:pointer;
	float:right; 
	margin-top:20px;
	background-image: url('../images/dialog/btnfalse_move.png');
}
.Buttons
{
	width:120px; 
	height:50px; 
	float:right; 
	text-align:center;
	line-height:50px;
	color:White;
	font-family:Î¢ÈíÑÅºÚ; 
	font-size:17px;
	cursor:pointer;
	margin-top:20px;
	background-image:url('../images/dialog/btntrue_move.png');
}
#layout
{
	border:1px solid black;
	 width:1020px; 
	 height:453px; 
}
.ShowName
{
	margin-left:20px;
	font-weight: bold;
	color:White;
	font-family:Î¢ÈíÑÅºÚ; 
	font-size:22px;
	height:55px; 
	float:left;
	width:480px; 
}
#videoshow1
{
	float:left;
	width:480px; 
	height:357px;
	margin:18px 10px 10px 21px;
}
#videoshow2
{
	float:left;
	width:480px; 
	height:357px;
	margin:18px 10px 10px 2px;
}
.setColorDiv 
{
	float:left;
	width:294px;
}
.setColorSpan /********* Ð¡ÑÕÉ«¿é ********/
{
	display:inline-block;
	overflow:hidden;
	float:left;
	border:1px solid #000;
	width:12px;
	height:12px;
}
.DivColor 
{
	display:none;
	position:absolute;
	margin:110px 0px 0px 40px;
	padding:2px;
	width:294px;
	height:auto;
	border:1px solid #777;
	background:#DDD;
	z-index:100;
}
#GetExpression
{
	display:none; 
	position:absolute; 
	width:400px; 
	height:270px; 
	margin:5px 0px 5px 2px;
	background-color:White;
}
#ReceiveMsg
{
	width:395px; 
	height:270px; 
	overflow:hidden;
	text-align:left;
	word-wrap:break-word;
	padding:5px 0px 0px 5px;
}
#SendMsgStyle
{
	font-family: Î¢ÈíÑÅºÚ; 
	color: #009900; 
	font-size: 12px;
}
.ReceiveMsgStyle
{
	font-family: Î¢ÈíÑÅºÚ; 
	color: #0000FF;
	font-size: 12px;
}
.AskInfo
{
	font-family:Î¢ÈíÑÅºÚ; 
	font-size:12px;
	margin-top:15px;
}
.AskButtonImg
{
	font-family:Î¢ÈíÑÅºÚ; 
	font-size:12px;
	height:20px; 
	width:50px; 
	float:left;
	border-style:solid;
	border-width:1px;
	text-align:center;
	line-height:20px;
	cursor:pointer;
	margin-left:5px;
}
.AskToFinishPrivate
{
	margin-left:50px;
	width:150px; 
	height:80px; 
	display:none; 
	position:absolute; 
	text-align:center;
	background-image: url('../images/dialog/AskToClose.png');
}
.OperateFile
{
	width:50px;
	color:Blue;
	margin-left:10px;
	cursor:pointer;
	font-size:12px;
}
.ReceiveInform
{
	width:395px;
	font-size:12px;
}
.ReceiveInform a
{
	cursor:pointer;
	font-size:12px;
	color:Blue;
}