body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	background: #fafafa;
	color: #222;
	min-width: 990px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	overflow: hidden;
}

#username,#ServerAddr,#ServerPort,#uploadKbps,#roomID {
	padding-left: 5px;
}

div {
	margin: 0 auto;
}

.wordage {
	font-size: 15px;
	width: 320px;
	height: 40px;
	line-height: 40px;
}

input {
	width: 200px;
	height: 30px;
}

#div_body {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #E8E8E8;
}

#banner {
	width: 100%;
	height: 70px;
}

#mainer {
	width: 980px;
	height: 300px;
}

#login_div {
	display: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	width: 500px;
	height: 320px;
	background: #F1F5FB;
	position: relative;
	border: 5px solid rgb(179, 179, 179);
}

#login_div_child {
	width:80%;
}

#login_title {
	height: 35px;
	margin: 10px auto 0px;
	background: url("../img/title.png") no-repeat;
	width: 303px;
}

#cutoff_div {
	height: 5px;
	border-bottom: 1px solid black;
	margin: 5px;
}

.wordage {
	font-size: 15px;
	width: 320px;
	height: 40px;
	line-height: 40px;
}

#loginRoom {
	background-color: #7CAF00;
	line-height: 35px;
	width: 40%;
	cursor: pointer;
	border-radius: 5px;
}

#tip {
	display: none;
	background: white;
	width: 200;
	height: 400;
	text-align: center;
	padding-top: 30px;
}

#LOADING_GREY_DIV {
	display: none;
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
	filter: Alpha(opacity =     40);
	width: 100%;
	height: 100%;
	background-color: #999999;
	position: absolute;
	z-index: 44;
}

#LOADING_DIV {
	position: absolute;
	display: none;
	z-index: 45;
}

/*插件安装提示层*/
#prompt_div {
	background-color: White;
	border: 1px solid black;
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: none;
}

.close_div {
	height: 45px;
	width: 480px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #CCCCCC;
}

#prompt_div_BR {
	border-top: 1px solid #CCCCCC;
	height: 45px;
	margin: 40px 10px 10px 10px;
	width: 480px;
	text-align: right;
}

#prompt_div_BR a {
	font-size: 12px;
	color: Blue;
}

#prompt_div_btn_load {
	width: 110px;
	height: 35px;
	line-height: 35px;
	color: White;
	border: 1px solid #915700;
	background-color: #ff8100;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#prompt_div_line1 {
	height: 70px;
	line-height: 70px;
	font-size: 12px;
	color: #999999;
	padding:0 100;
}

#prompt_div_line2 {
	height: 60px;
	line-height: 50px;
	color: #FF9900;
	font-size: 14px;
	font-weight: bolder;
}

#prompt_div_headline1 {
	font-size: 15px;
	width: 100px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	float: left;
}

#prompt_div_headline2 {
	font-size: 12px;
	width: 38px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	float: right;
	cursor: pointer;
}

/* UDP层 */
.computer1,.computer2,.server {
	margin: 10 0;
}

.1computer1 {
	background: url(../img/allbgs.png) no-repeat -166px -153px;
	width: 163px;
	padding-top: 148px;
}

.1computer2 {
	background: url(../img/allbgs.png) no-repeat -177px 0px;
	width: 154px;
	padding-top: 148px;
}

.1server {
	background: url(../img/allbgs.png) no-repeat 0px -122px;
	width: 166px;
	padding-top: 181px;
}

.computer1 {
	background: url(../img/allbgs.png) no-repeat 19px -12px;
	height: 146px;
	margin-top: 30px;
}

.computer2 {
	background: url(../img/allbgs.png) no-repeat -164px -5px;
	height: 140px;
	margin-top: 30px;
}

.server1 {
	background: url(../img/allbgs.png) no-repeat 0px -163px;
	height: 184px;
	width: 180px;
}

.server2 {
	background: url(../img/allbgs.png) no-repeat -170px -163px;
	height: 184px;
	width: 180px;
}

.server3 {
	background: url(../img/allbgs.png) no-repeat -346px -162px;
	height: 184px;
	width: 180px;
}

#main_box {
	display: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	position: relative;
}

#inputBox input {
	margin: 10px 0px;
}

#main_box {
	background: white;
	width: 990px;
	height: 510px;
	position: relative;
}

.box {
	width: 330px;
	height: 510px;
	float: left;
}

#main_box fieldset {
	margin: 50;
	height: 400px;
}

#main_box legend {
	color: red;
	font-size: 18px;
	padding: 0 5px;
}

#main_box p {
	display: inline;
	margin-right: 5px;
}

.msgBox {
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-left: 30px;
}

#inputBox {
	margin: 30px 0px;
}

#uploadKbps {
	width: 45%;
}

#uploadStart,#uploadStop {
	width: 40%;
}

div#u1_send {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	margin-left: 285px;
	margin-top: 170px;
	color: #22D1FF;
}

div#server_sendtoU1 {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	margin-left: 285px;
	margin-top: 220px;
	color: #22D1FF;
}

div#server_sendtoU2 {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	margin-left: 615px;
	margin-top: 170px;
	color: #22D1FF;
}

#u1_send span,#server_sendtoU1 span,#server_sendtoU2 span {
	color: red;
}

#sendRadio,#reciveRadio {
	width: 20px;
	height: 14px;
}

#newControl {
	width: 200px;
	padding-top: 10px;
	height: 30px;
}
#close{
position:absolute;top:0;right:8;font-size:25;cursor:pointer;	
}