#prompt_div
{
	 background-color:White; 
	 width:500px; 
	 height:300px; 
	 margin-left:400px; 
	 margin-top:200px; 
	 display:none;
	 position:absolute;
	 border:1px solid black;
}
.close_div 
{
	height:45px; 
	width:480px; 
	margin:0px 10px 0px 10px; 
	border-bottom:1px solid #CCCCCC;
}
#prompt_div_headline1 
{
	float:left; 
	height:60px; 
	line-height:50px;
}
#prompt_div_headline2 
{
	float:right; 
	height:60px; 
	line-height:50px; 
	font-size:12px;
}
#prompt_div_line2 
{
	line-height:150px;
}
#prompt_div_btn_load 
{
	text-align:center; 
	width:110px; 
	height:35px; 
	line-height:35px; 
	color:White; 
	border:1px solid #915700; 
	background-color:#ff8100; 
	margin-left:auto; 
	margin-right:auto; 
	cursor:pointer;
}
#prompt_div_BR 
{
	border-top:1px solid #CCCCCC; 
	height: 45px; 
	margin:30px 10px 10px 10px; 
	width:480px; 
	text-align:right; 
	font-size:13px;
}