<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>keyCN</key>
		<string>视频分辨率</string>
		<key>keyEN</key>
		<string>videoresolution</string>
		<key>default</key>
		<string>2</string>
		<key>childItem</key>
		<array>
			<dict>
				<key>key</key>
				<string>0</string>
				<key>value</key>
				<string>1280x720</string>
			</dict>
			<dict>
				<key>key</key>
				<string>1</string>
				<key>value</key>
				<string>640x480</string>
			</dict>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>value</key>
				<string>480x360</string>
			</dict>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>value</key>
				<string>352x288</string>
			</dict>
			<dict>
				<key>key</key>
				<string>4</string>
				<key>value</key>
				<string>192x144</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>keyCN</key>
		<string>视频码率</string>
		<key>keyEN</key>
		<string>videobitrate</string>
		<key>default</key>
		<string>0</string>
		<key>childItem</key>
		<array>
			<dict>
				<key>key</key>
				<string>0</string>
				<key>value</key>
				<string>质量优先模式</string>
			</dict>
			<dict>
				<key>key</key>
				<string>60000</string>
				<key>value</key>
				<string>60kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>120000</string>
				<key>value</key>
				<string>120kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>180000</string>
				<key>value</key>
				<string>180kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>240000</string>
				<key>value</key>
				<string>240kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>300000</string>
				<key>value</key>
				<string>300kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>400000</string>
				<key>value</key>
				<string>400kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>500000</string>
				<key>value</key>
				<string>500kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>800000</string>
				<key>value</key>
				<string>800kbps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>1000000</string>
				<key>value</key>
				<string>1Mkbps</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>keyCN</key>
		<string>视频帧率</string>
		<key>keyEN</key>
		<string>videoframerate</string>
		<key>default</key>
		<string>20</string>
		<key>childItem</key>
		<array>
			<dict>
				<key>key</key>
				<string>4</string>
				<key>value</key>
				<string>4 fps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>8</string>
				<key>value</key>
				<string>8 fps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>12</string>
				<key>value</key>
				<string>12 fps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>16</string>
				<key>value</key>
				<string>16 fps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>20</string>
				<key>value</key>
				<string>20 fps</string>
			</dict>
			<dict>
				<key>key</key>
				<string>25</string>
				<key>value</key>
				<string>25 fps</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>keyCN</key>
		<string>预设参数</string>
		<key>keyEN</key>
		<string>videopreset</string>
		<key>default</key>
		<string>1</string>
		<key>childItem</key>
		<array>
			<dict>
				<key>key</key>
				<string>1</string>
				<key>value</key>
				<string>效率优先</string>
			</dict>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>value</key>
				<string>性能均衡</string>
			</dict>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>value</key>
				<string>质量优先</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>keyCN</key>
		<string>视频质量</string>
		<key>keyEN</key>
		<string>videoquality</string>
		<key>default</key>
		<string>3</string>
		<key>childItem</key>
		<array>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>value</key>
				<string>普通</string>
			</dict>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>value</key>
				<string>中等</string>
			</dict>
			<dict>
				<key>key</key>
				<string>4</string>
				<key>value</key>
				<string>较好</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
