<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>usep2p</key>
	<dict>
		<key>KeyCN</key>
		<string>优先P2P</string>
		<key>KeyEN</key>
		<string>usep2p</string>
		<key>Values</key>
		<integer>1</integer>
		<key>DefaultValue</key>
		<integer>1</integer>
	</dict>
	<key>useserverparam</key>
	<dict>
		<key>KeyCN</key>
		<string>使用服务器视频参数</string>
		<key>KeyEN</key>
		<string>useserverparam</string>
		<key>Values</key>
		<integer>0</integer>
		<key>DefaultValue</key>
		<integer>0</integer>
	</dict>
	<key>videosolution</key>
	<dict>
		<key>KeyCN</key>
		<string>视频分辨率</string>
		<key>KeyEN</key>
		<string>videosolution</string>
		<key>Titles</key>
		<string>480x360</string>
		<key>Values</key>
		<integer>2</integer>
		<key>DefaultValue</key>
		<integer>2</integer>
	</dict>
	<key>videobitrate</key>
	<dict>
		<key>KeyCN</key>
		<string>视频码率</string>
		<key>KeyEN</key>
		<string>videobitrate</string>
		<key>Titles</key>
		<string>180kbps</string>
		<key>Values</key>
		<real>180000</real>
		<key>DefaultValue</key>
		<integer>180000</integer>
	</dict>
	<key>videoframerate</key>
	<dict>
		<key>KeyCN</key>
		<string>视频帧率</string>
		<key>KeyEN</key>
		<string>videoframerate</string>
		<key>Titles</key>
		<string>12fps</string>
		<key>Values</key>
		<integer>12</integer>
		<key>DefaultValue</key>
		<integer>12</integer>
	</dict>
	<key>videopreset</key>
	<dict>
		<key>KeyCN</key>
		<string>预设参数</string>
		<key>KeyEN</key>
		<string>videopreset</string>
		<key>Titles</key>
		<string>性能均衡</string>
		<key>Values</key>
		<integer>2</integer>
		<key>DefaultValue</key>
		<integer>2</integer>
	</dict>
	<key>videoquality</key>
	<dict>
		<key>KeyCN</key>
		<string>视频质量</string>
		<key>KeyEN</key>
		<string>videoquality</string>
		<key>Titles</key>
		<string>中等</string>
		<key>Values</key>
		<integer>3</integer>
		<key>DefaultValue</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
